<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/formpages.css') }}">
    <title>Edit post</title>
</head>
<body>
    <div class="d-flex flex-column justify-content-center">
        <div class="my-nav">
        <div class="container navbar d-flex justify-content-start">
            <div class="display-1"> Dojo Overflow</div>
        </div>
        <div class="container navbar d-flex justify-content-end">
                <a href="/clearsession" class="btn btn-info m-2" role="button"> Log Out</a>
                <a href="/posts/my_posts" class="btn btn-info m-2" role="button"> Home</a>
            </div>
        </div>
        
        <div class="text-white p-5">
            <form action="/update/post/{{post.id}}" method="POST"> <!--JINJA ALL NEEDS REVIEW + ROUTE -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}                            
                    {% for message in messages %}            
                        <p>{{message}}</p>                   
                    {% endfor %}
                {% endif %}
            {% endwith %} 
            <div class="form-section">
                <label for="post_title" class="col-form-label-lg">Post Title</label><br>
                <input type="text" id="name" class="form-control-lg" name="name" value="{{post.title}}"></br>
                <textarea maxlength="3000" id="post_content" name="post_content" value="{{post.content}}" class="form-control-lg" rows="5" cols="33"></textarea><br>
            <input type="submit" class="btn btn-warning mt-5" value="Update Post">
            </form> 
        </div>
        </div>    
</body>

</html>


