<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
        <div class="my-nav">
            <div class="container navbar d-flex justify-content-start">
                <div class="display-1"> Welcome {{user.first_name}}</div> 
            </div>
            <div class="container navbar d-flex justify-content-end">
                    <a href="/logout" class="btn btn-info m-2" role="button"> Log Out</a> 
                    <a href="/posts/my_posts" class="btn btn-info m-2" role="button"> My Profile</a>  
                </div>
        </div>

        <div class="row col-md-auto ml-5"> 
            <div class="table-responsive-md">
                <table class="table table-hover text-white">
                        <thead>
                            <tr>
                            <th scope="col"> Posted By</th>
                            <th scope="col"> Title </th>
                            <th scope="col"> Content </th>
                            <th scope="col"> Likes </th>
                            <th scope="col"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                            <td>{{post.creator.firstname}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.content}} </td>
                            <!-- <td> NUMBER OF LIKES</td> -->
                                <a href="/post/{{post.id}}"> Like Post</a>  <!-- <td> Needs JINJA CONFRIMFATION </td> -->
                                {% if session['user_id'] == post.creator.id %}
                                    <a href="/posts/edit/{{post.post_id}}">Edit</a> <!-- <td> Needs JINJA CONFRIMFATION </td> -->
                                    <a href="/posts/delete/{{post.post_id}}">Delete</a> <!-- <td> Needs JINJA CONFRIMFATION </td> -->
                                {% endif %}
                            </td>
                        </tr>
                            {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

