

    body {
        background-color: #020E1A;
    }
    
    .main-container {
        background-size: cover;
    }
    
    .display-1 {
        color: rgb(224, 20, 20);
        font-family: sans-serif;
        font-style: italic;
        }
    
    .my-nav {
        background-color: black;
        border-bottom: white solid 2px;
        display: flex;
        align-items: center;
        padding:3%;
    
    }
    
    .table-container { 
        font: white !important;
    }
    
    .section {
        padding-bottom: 30px;
        border-bottom: white 1px solid;
    }

    .my-nav { 
            /* The image used */
            background-image: url("../css/images/home.jpg");
            background-size: cover;
    }